#top {
    width: 800px;
    height: 100px;
    background-color: rgb(85, 79, 79);
    position: relative;
    left: 660px;
}

#rightRec {
    width: 100px;
    height: 800px;
    background-color: lightgray;
    position: relative;
    left: 1360px;
}

#leftRec {
    width: 100px;
    height: 800px;
    background-color: lightgray;
    position: relative;
    left: 660px;
    top: -800px;
}

#bottomRec {
    width: 600px;
    height: 50px;
    background-color: black;
    position: relative;
    left: 760px;
    top: -850px;
}

